body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

section {
  margin-bottom: 20px;
}

canvas {
  border: 1px solid #ccc;
  display: block;
  margin-top: 10px;
  position: relative;
}

#overlayCanvas {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* 操作用canvasはイベントは下のcanvasで受ける */
}

#imageCanvas {
  position: relative;
}

#outputCanvas {
  border: 2px solid #666;
}
